*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.background{
    background: #5B2B9D;
    width: 100%;
}

.container{
    padding: 10px 8%;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 20px;
    padding: 10px 8%;
    z-index: 1000;
    background: #5B2B9D;
}

.logo img{
    width: 235px;
    margin-right: 10px;
}

/* .navbar-nav{
    flex-grow: 1;
} */

.navbar-nav li{
    display: inline-block;
    margin-right: 25px;
}

.navbar-nav .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.social a{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;
}

.social img{
    margin-right: 5px;
}
/* 

.d-flex{
    display: flex;
} */

.Community{
    background: #fff;
    padding: 15px 25px;
    font-size: 15px;
    color: #5B2B9D !important;
    border-radius: 8px;
    align-self: flex-start;
}

.b-yellow{
    border: 2px solid yellow;
}
.b-red{
    border: 2px solid red;
}
.b-green{
    border: 2px solid green;
}

.col-6{
    width: 50%;
    padding: 1%;
}
.col-4{
    width: 33.33%;
    padding: 1%;
}
.h-100{
    height: 100vh;
}

.w-100{
    width: 100%;
}

.row{
    display: flex;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5B2B9D;
}
.form-box{
    background: #fff;
    padding: 30px;
}

.form-box h1{
    color: #02073E;
    font-size: 40px;
    margin-bottom: 30px;
}

.domain-input, input{
    width: 70%;
    padding: 20px 10px;
    font-size: 20px;
    outline: 0;
    border: 0;
}

.btn-submit{
    padding: 20px 30px;
    width: 100%;
    background: #5B2B9D;
    margin-top: 20px;
    color: #fff;
}

.domain-select{
    width: 30%;
}

form{
    display: flex;
    border: 1px solid #dfdfdf;
}

#select{
    float: right;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #02073E;
    outline: none;
    border: 0;
}

#select option{
    padding: 10px 15px;
    background: #5B2B9D;
}




.hero-img img{
    width: 100%;
    max-width: 550px;
}

@media only screen and (max-width:576px){
    .container{
        padding: 0 3% !important;
    }
    .hero .row{
        flex-direction: column;
        padding-top: 40px;
        height: 100vh !important;
    }

    .col-6 h1{
        font-size: 25px ;
        margin-bottom: 20px;
        letter-spacing: normal;
    }
    .col-6{
        width: 100%;
        padding: 10px;
    }

    .col-6 input{
        padding: 10px;
        font-size: 14px;
    }

    .navbar{
        justify-content: space-between;
    }

    .navbar-nav{
        display: none;
        flex-grow: 0;
    }

    .nav-item{
        display: block;
    }
    .social a{
        padding: 4px 14px;
        font-size: 12px;
        margin-right: 0;
    }


    .nav-link{
        font-size: 12px !important;
    }

    .logo img{
        width: 190px;
    }
    
}