*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.section-padding{
    padding: 100px 0;
}
.section-header{
    margin-bottom: 30px;
    text-align: center;
}

span{
    color: #5B2B9D;
}

.background{
    background: #5B2B9D;
    width: 100%;
}

.container{
    padding: 10px 8%;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 8%;
    z-index: 1000;
    background: #5B2B9D;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.logo img{
    width: 235px;
    margin-right: 10px;
}

/* .navbar-nav{
    flex-grow: 1;
} */

.navbar-nav li{
    display: inline-block;
    margin-right: 25px;
}

.navbar-nav .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.social a{
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;
}

.social img{
    margin-right: 5px;
}
/* 

.d-flex{
    display: flex;
} */

.Community{
    background: #fff;
    padding: 15px 25px;
    font-size: 15px;
    color: #5B2B9D !important;
    border-radius: 8px;
    align-self: flex-start;
}

.fa-bars{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    display: none !important;
}

.b-yellow{
    border: 2px solid yellow;
}
.b-red{
    border: 2px solid red;
}
.b-green{
    border: 2px solid green;
}

.col-6{
    width: 50%;
    padding: 1%;
}
.col-4{
    width: 33.33%;
    padding: 1%;
}
.h-100{
    height: 100vh;
}

.w-100{
    width: 100%;
}

.row{
    display: flex;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5B2B9D;
    padding: 140px 0;
}
.form-box{
    background: #fff;
    padding: 30px;
}

.form-box h1{
    color: #02073E;
    font-size: 40px;
    margin-bottom: 30px;
}

.domain-input, input{
    width: 70%;
    padding: 20px 10px;
    font-size: 20px;
    outline: 0;
    border: 0;
}

.btn-submit{
    padding: 20px 30px;
    width: 100%;
    background: #5B2B9D;
    margin-top: 20px;
    color: #fff;
}

.domain-select{
    width: 30%;
}

form{
    display: flex;
    border: 1px solid #dfdfdf;
}

#select{
    float: right;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #02073E;
    outline: none;
    border: 0;
}

#select option{
    padding: 10px 15px;
    background: #5B2B9D;
}




.hero-img img{
    width: 100%;
    max-width: 550px;
}
.services-box .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-box h4{
    margin-bottom: 10px;
    font-size: 16px;
}

.services-box h2{
    font-size: 25px;
}
.services-box .col-4{
    width: 23%;
    padding:40px 1%;
    border: 1px solid #dfdfdf;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    border-radius: 8px;
}


.services-box .col-4:hover,
.active{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.services-box .singel-box h4{
    margin-bottom: 15px;
}

.mockup{
    padding-right: 8%;
}

.mockup .row{
    display: flex;
}

.mockup .col-2{
    width: 50%;
    /* margin-right: 30px; */
}

.col-2-img{
    margin-right: 30px;
}
.mockup .col-2-img img{
    width: 100%;
    max-width: 680px;
    margin-right: 50px;
}

.col-2-accrodion{
    width: 100%;
}

.col-2-accrodion h4{
    margin-bottom: 10px;
    font-size: 18px;
}

.col-2-accrodion h2{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #0F2137;
    margin-bottom: 15px;
    line-height: 1.6;
}

.col-2-accrodion p{
    font-size: 16px;
    color: #0F2137;
    font-weight: 300;
}

.accrodion-item{
    margin: 20px 0;
    padding: 10px 30px;
    background: #F6F8FB;
    border: 1px solid #dfdfdf;
}

.accrodion-item> div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accrodion-item> div i{
    font-size: 18px;
    color: #0F2137;
    cursor: pointer;
    margin-bottom: 15px;
}